/* vietnamese */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(./font/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLYxYWI2qfdm7Lpp4U8WRL2l2eY.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(./font/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLYxYWI2qfdm7Lpp4U8WRP2l2eY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(./font/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLYxYWI2qfdm7Lpp4U8WR32lw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/************** SCROLLBAR *************************/

/* width */
::-webkit-scrollbar {
  width: 30px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eee;
  box-shadow: inset 0 0 5px grey;
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8a8;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #565;
}

/***************************************************/

* {
    font-family: 'Inconsolata', monospace;
    font-size: 24px;
    margin: 0;
    padding: 0;
    border: 0;
    color: #efe;
    text-shadow: 0px 0px 5px #000;
}

body {
  background: #343;
}

body.alert {
  background: #633;
}

input, button, select, textarea {
  color: #010;
  text-shadow: 0px 0px 2px #000;
  padding: 3px 6px;
  border: 1px solid #777;
  margin: 3px 6px;
  border-radius: 4px
}

input, select, textarea {
    background: #fff;
}

button, input[type="button"] {
  background: #888;
  border: 1px solid #333;
  cursor: pointer;
}


button, input[type="button"].red {
  background: #900;
  color: #efe;
}
button, input[type="button"].green {
  background: #afa;
  color: #252;
}

ul {
  list-style-type: none;
  display: block;
  float: left;
}

.center {
  display: block;
  float: none;
  width: 100%;
  text-align: center;
}

.clear {
  clear: both;
}

.hidden {
  display: none;
}

.frame {
  position: relative;
  display: block;
  float: none;
  margin: 0;
  padding: 0;
  border: 0;
}

.preloader {
  display: block;
  float: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  background-image: url("./images/preloader.gif");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
  z-index: 10000;
}

.page {
  display: none;
}

form {
  display: block;
  float: none;
  padding: 20px;
}

form label {
  display: block;
  float: left;
  min-width: 220px;
  margin: 3px 6px;
}


.device {
  position: relative;
  display: block;
  float: left;
  margin: 10px;
  padding: 10px;
  border: 2px solid #232;
  border-radius: 5px;
}

.device .icon {
  display: block;
  float: none;
  width: 100px;
  height: 100px;
  background: #efe;
  border: 1px solid #121;
  border-radius: 5px;
  box-shadow: 0px 3px 15px 5px #121;
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px auto;
  cursor: pointer;
}

.device.mode-motion .icon {
  background-image: url(./images/motion-sensor.png);
}

.device.mode-motion.alert,
.device.motion.alert {
  background: red;
}

.device.mode-camera .icon {
  background-image: url(./images/camera-recorder.png);
}

.led {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  background: lightgreen;
  border: 3px solid #555;
  border-radius: 10px;
  margin: 3px 10px 3px 3px;
}
.led.red {
  background: red;
}

div.page.device-view .led {
  float: right;
}

.disconnected .led {
  background: grey;
}

.disconnected .icon {
  background: #676;
}

/***************** device-view / motion / camera *******************/

.slider {
  margin: 15px 0;
}



.device {
  display: block;
  float: none;
}

.device .frame {
  cursor: crosshair;
  background-image: url("./images/preloader.gif");
  background-repeat: no-repeat;
  background-position: center;

}
.device.motion .stream {
  width: 288px;
  height: 288px;
  border: 2px solid #666;
  background: transparent;
  user-drag: none; 
  user-select: none;
}

.device.motion .frame {
  min-width: 288px;
  min-height: 288px;
  float: left;
}
.device.camera .frame {
  min-width: 320px;
  min-height: 240px;
}
.device.camera .stream {
  border: 2px solid #666;
  background: transparent;
  user-drag: none; 
  user-select: none;
}

.device.motion .watcher {
  position: absolute;
  display: block;
  float: none;
  border: 3px solid red;
  background: transparent;
}

/*************************************************/

.device-list .device {
  float: left;
  min-width: 40%
}
.device-list .device .label {
  float: none;
}
.device-list .device .label .led {
  float: right;
}
.device-list .device .label .name {
  float: left;
}